<app-titulo [titulo]="'Eventos'" [subTitulo]="''" [icoClass]="'fa fa-user'" [isBotaoListar]="true"></app-titulo>
<router-outlet></router-outlet>
<!-- <hr>

<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input type="text" class="form-control" placeholder="Filtrar por Tema e Local" [(ngModel)]="FiltraLista">
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Novo</b>
        </a>
      </div>
    </div>
  </div>
  <h3>Filtro:{{FiltraLista}}</h3>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th  class="d-none d-md-table-cell"><button type="button" (click)="IsExibirImagens()" class="btn btn-outline-success btn-sb">
            {{IsVisivel ? 'Ocultar' : 'Exibir'}}
          </button></th>
        <th>#</th>
        <th>Tema</th>
        <th  class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th  class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th  class="d-none d-md-table-cell">Lote</th>
        <th>Opçoes</th>
      </tr>
    </thead>
    <Tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let item of eventosFiltrado">
        <td  class="d-none d-md-table-cell"><img *ngIf="IsVisivel" src="../assets/images/{{item.imageUrl}}" [style.width.px]="widthImg"
            [style.margin.px]="MarginImg" alt="" width="100"></td>
        <td>{{item.id}}</td>
        <td>{{item.tema}}</td>
        <td  class="d-none d-md-table-cell">{{item.local}}</td>
        <td>{{item.dataEvento | DateFormaPipe}}</td>
        <td  class="d-none d-md-table-cell">{{item.qtdPessoas}}</td>
        <td  class="d-none d-md-table-cell">{{item.lotes[0].nome}}</td>
        <td>        
          <button type="button" class="btn btn-danger btn-lg mr-2" tooltip="Excluir" (click)="showError()">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </Tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8">
          Não há eventos cadastrados.
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->
