<div ngbDropdown class="d-inline-block">
  <button
    ngbDropdownToggle
    class="btn btn-secondary dropdown-toggle"
    id="dropdownMenuButton"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Ações
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item" (click)="navigateTo('perfil')">Perfil</button>
    <button class="dropdown-item" (click)="navigateTo('config')">Configurações</button>
    <div role="separator" class="dropdown-divider"></div>
    <button class="dropdown-item" (click)="logout()">Sair</button>
  </div>
</div>
