<h1> Eventos </h1>   
<hr>

<div  class="form-inline ">
    <div class="form-group mb-2">
        <input type="text" class="form-control  mb-2" 
        placeholder="Buscar"
        [(ngModel)]="FiltraLista"
        >       
    </div>    
</div>
<h3>Filtro:{{FiltraLista}}</h3>
<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <th><button type="button" 
            (click)="IsExibirImagens()" 
            class="btn btn-outline-success btn-sb">
            {{IsVisivel ? 'Ocultar' : 'Exibir'}}
        </button></th>
        <th>#</th>        
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opçoes</th>
    </tr>
</thead>
<Tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrado">
        <td><img  *ngIf="IsVisivel" src="../assets/images/{{item.imageUrl}}"
            [style.width.px]="widthImg"
            [style.margin.px]="MarginImg"
            alt="" width="100"></td>
        <td>{{item.id}}</td>        
        <td>{{item.tema}}</td>
        <td>{{item.local}}</td> 
        <td>{{item.dataEvento }}</td>
        <td>{{item.qtdPessoas}}</td>
        <td>{{item.lotes[0].nome}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar" (click)="showSuccess()">
                <i class="fa fa-edit"></i>          
            </button>
            <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Excluir" (click)="showError()">
                <i class="fa fa-trash"></i>              
            </button>
        </td>
    </tr>
</Tbody>
<tfoot *ngIf="!eventos.length">
    <tr>
        <td colspan="8">
            Não há eventos cadastrados.
        </td>
    </tr>
</tfoot>
</table>
